
{% extends "base.html.twig" %}

{% block page %} Home {% endblock %}

{% block header %} 

    {{ pierre }}

{% endblock %}
{% block content %}
<article class="home_presentation">
    <h3 class="home_welcome"> Welcome on my portfolio </h3>

    <p class="home_text"> Hello, my name is Pierre, 
    i am a beginner at web developpement and this is my portfolio.<br>
    On this one, you will be able to find my creations, my experiences and my trainings !
    I am still working on this website, so don't worry if you discover some bugs or somethings like that.
    You can also tell me what do you think about this website or my other projects on the page "Contact".
    Thanks to you for taking the time to read me, and have good navigation, Cya ! </p> 
<article>
{% endblock %}