
{% extends "base.html.twig" %}

{% block page %} Home {% endblock %}

{% block header %} 

    {{ pierre }}

{% endblock %}
{% block content %}
<article class="home_presentation">
    <h3 class="home_welcome"> Welcome on my portfolio </h3>

    <p class="home_text"> This website is under construction. </p> 
<article>
{% endblock %}