@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
@import 'components/home.scss';
@import 'components/header.scss';
@import 'components/logo.scss';
@import 'components/menu.scss';
@import 'components/admin_connexion.scss';
@import 'components/works.scss';
@import 'components/timeline.scss';

h2{
    color: white;
}

#footer{
    margin-top: 100px;
    color: white;
    text-align: center;
}